<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<h3>Single Upload</h3>
<h1>{{.name}}</h1>
<form action="/upload", method="post" enctype="multipart/form-data">
    <input type="text" value="{{.name}}" />
    <input type="file" name="upload" />
    <select name="select">
        {{range $key,$ele :=.options}}
        <option value="{{$key}}">{{$key}}</option>
        {{end}}
    </select>
    <input type="submit" value="upload" />
</form>

<h3>Multi Upload</h3>
<form action="/multi/upload", method="post" enctype="multipart/form-data">
    <input type="text" value="hello gin" />
    <input type="file" name="upload" multiple="multiple" />
    <input type="file" name="upload" />
    <select name="select">
        {{range $key,$ele :=.options}}
            <option value="{{$key}}">{{$key}}</option>
        {{end}}
    </select>
    <input type="submit" value="upload" />
</form>

</body>
</html>